<div>
    <div class="ald-article-title">
        <img src="/assets/images/Logo-Hackathon.png" alt="" width="300px">
        <h1>OUR BEST TRIPS</h1>
    </div>

    <div class="ald-article-cards">

        <div class="ald-article-card1">
            <h1>Gorges du Verdon</h1>
            <img src="/assets/images/gorgeDuVerdon.jpg" alt="" width="auto" height="300px">
            <p>
                This magnificent natural site welcomes thousands of visitors every year and we understand why! <br>
                It is truly a must-see in France and a road trip in the Gorges du Verdon will guarantee you a superb trip.
                You can choose to add a day of canoeing to your road trip to enjoy the gorges up close! <br>

                <br><b>ATTENTION !</b> Wild camping is prohibited in the Gorges du Verdon and checks are frequent.
                We advise you to sleep in a campsite or an “official” accommodation during your road trip.
            </p>
        </div>

        <div class="ald-article-card2">
            <h1>The road to the great Alps</h1>
            <img src="/assets/images/alpes.jpg" alt="" width="auto" height="300px">
            <p>Whether by bike or van, this route between mountains and sea, on the Napoleon road, will offer you breathtaking landscapes.
                <br>
                From Lake Geneva to the Mediterranean Sea, this road trip takes you to the heart of the Écrins,
                a national park renowned for the beauty of its mountains.<br> You can also pass several mountain passes on the road.
                <br>Finally, scheduled arrival in Nice, for a short improvised swim in the Mediterranean Sea.
                <br><br><br><br>
            </p>
        </div>

        <div class="ald-article-card3">
            <h1>In the heart of the volcanoe</h1>
            <img src="/assets/images/puyDeDome.jpg" alt="" width="auto" height="300px">
            <p>
                For this itinerary in the heart of nature, we suggest the region of volcanoes between Auvergne and the Cantal mountains.
                <br>
                Region still wild and not very touristy, you can easily go wild camping while enjoying day hikes on the volcanoes or swimming in the lakes.
            </p>
        </div>

        <div class="ald-article-card4">
            <h1>The flavors of the Basque country</h1>
            <img src="/assets/images/basque.jpg" alt="" width="auto" height="300px">
            <p>
                The inhabitants of the Basque country are proud of their region and their traditions. <br>
                To the sound of Basque songs, embark on an adventure between mountains and ocean. <br>
                Between Espelette pepper, sheep cheese or Bayonne ham, you have something for everyone then, Goazen!
            </p>
        </div>

    </div>


</div>
