<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="ald-footer-total-footer">

    <footer class="text-center text-lg-start" style="background-color: #db6930;">
        <div class="container d-flex justify-content-center py-5">
            <button type="button" class="btn btn-lg btn-floating mx-2" style="background-color: #db6930;">
                <i class="bi bi-facebook" style="color: white"></i>
            </button>
            <button type="button" class="btn btn-lg btn-floating mx-2" style="background-color: #db6930;">
                <i class="bi bi-youtube" style="color: white"></i>
            </button>
            <button type="button" class="btn btn-lg btn-floating mx-2" style="background-color: #db6930;">
                <i class="bi bi-instagram" style="color: white"></i>
            </button>
            <button type="button" class="btn btn-lg btn-floating mx-2"  style="background-color: #db6930;">
                <i class="bi bi-twitter" style="color: white"></i>
            </button>
        </div>

        <div class="ald-footer-links d-flex justify-content-even">
                <a href="/legal">Rental terms</a>
                <a href="/legal/insurance">Insurance</a>
                <a href="user/contact">Contact Us</a>
                <a href="legal/terms">Terms & Conditions</a>
                <a href="legal/privacy">Privacy Policy</a>
        </div>

        <!-- Copyright -->
        <div class="text-center text-white p-3" id="copyright" style="background-color: rgba(0, 0, 0, 0.2);">
            <p>Copyright© 2023 Van Aldiana & vanaldiana.com – all rights reserved. Powered by  Sunshine Workers WCS</p>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->
