<div class="ald-navbar-full-nav d-flex justify-content-between" style="color: white">
    <div class="ald-navbar-burger">
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>

            <ul class="menu__box">
                <li><a class="menu__item" href="/">Home</a></li>
                <li><a class="menu__item" href="/">Reservation</a></li>
                <li><a class="menu__item" href="#ourVans">Our Vans</a></li>
                <li><a class="menu__item" href="/contact">Contact</a></li>
                <img src="/assets/images/Logo-Hackathon.png" alt="" width="200px">
            </ul>
        </div>

    </div>
    <div class="ald-navbar-logo"><img class="ald-navbar-img" src="/assets/images/Logo-Hackathon.png" alt="" width="100px"></div>
    <div class="ald-navbar-book"><a href="">Book a Van</a></div>
</div>
