<div class="ald-explanation">

    <h1 class="ald-explanation-welcome text-align-center">WELCOME TO VAN ALDIANA !</h1> <br><br><br><br><br><br><br>

    <h1 class="ald-explanation-title text-align-center">Van Aldiana: the road of freedom</h1> <br><br>

    <div class="ald-explanation-content">
    <br>
    <h2><i><b>Let us guess…</b></i></h2> <br>
    <h2><i>You are hatching a plan to get away for the weekend?</i> <br></h2>
      <h2>  You are <b>dreaming</b> of going on a long and winding road trip through France or Europe? <br></h2>
    <h2>  <i>Do you want to do something different? <b>Original?</b></i> <br></h2>
    <h2> <i> <b>Off the beaten track?</b></i> <br><br><br></h2>
    <h2> <i> Picture this: a <b>super comfortable vehicle</b> that can carry <b>up to five passengers</b> and all their luggage, ready to take you <b>on the road of freedom.</b>
        <br> Whether you're seeking <b>adventure or relaxation</b>, our van is the perfect companion for your journey. <br>
        So why wait? <b>Book your Van Aldiana experience today </b> and let the road take you <b>wherever your heart desire.</b></i></h2>
    </div>




</div>
