<div class="ald-explanation">

    <h1 class="ald-explanation-title">Van Aldiana: the road of freedom</h1>
    <h2><i><b>Let us guess…</b></i></h2> <br>
    <h2><i>You are hatching a plan to get away for the weekend? <br></h2>
      <h2>  You are <b>dreaming</b> of going on a long and winding road trip through France or Europe? <br></h2>
    <h2>  Do you want to do something different? <b>Original? </b><br></h2>
    <h2>  <b>Off the beaten track?</b> <br></h2>
    <h2>  Are you after a <b>super comfortable vehicle</b> that can carry <b>5 passengers</b> with their luggage?</i></h2>

    <h1 class="ald-explanation-welcome">WELCOME TO VAN ALDIANA !</h1>


</div>
