

<div class="meteo">
    <h1>Before your trip, check the weather!    👉</h1>
<form method="get">
    <input class="button-city" type="text" name="city" placeholder="  Choose your town">
    <button class="button-meteo">send</button>
</form>
</div>

<div class="city ">
    {{ temp|round }}°c
    {{ name }}
    {{ description }}
</div>
