{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Your booking</h1>

    <section class="formReservation">
        {% include 'Reservation/_form.html.twig' %}

    </section>

{% endblock %}
