{% extends 'layout.html.twig' %}

{% block content %}
    <h1>reservation</h1>

    <section class="cardCarsHome formReservation">
        {% include 'Reservation/_form.html.twig' %}

    </section>

{% endblock %}
