{% extends 'layout.html.twig' %}
{% block content %}

    <h1>LIVE YOUR VAN !</h1>
    <div class="container">
        <iframe class="responsive-iframe" src="/assets/images/California T6.1. Location.mp4"></iframe>

    </div>

{% include '/_includes/weather.html.twig' %}

{% endblock %}
