@import "modules/background-video.css";
@import 'modules/navbar.css';
@import 'modules/footer.css';
@import 'modules/weather.css';
@import 'modules/cardCars.css';
@import 'modules/contact.css';
@import 'modules/explination.css';
@import "modules/insurance.css";
@import "modules/rental-terms.css";
@import "modules/privacy-police.css";
@import "modules/terms & conditions.css";
@import 'modules/explination.css';
@import "modules/articles.css";
@import "modules/coast.css";

/*variable declaration*/


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Cantarell', sans-serif;
    padding: 0;
    margin: auto 0;
}

a   {
    text-decoration: none;
}

body    {
    background-color: #FFF4E4;
}
* {
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

.aboutText h2  {
    font-family: 'Dancing Script', cursive;
}

.aboutText p, .members  {
    font-family: 'Comfortaa', cursive;
}



