{% extends 'layout.html.twig' %}

{% block content %}

    <div>
        <div class="carousel">
            <ul class="slides">
                <input type="radio" name="radio-buttons" id="img-1" checked />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/beach-four-first-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-7" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-2" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-2" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/beach-four-second-photo.jpg">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-1" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-3" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-3" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/beach-four-third-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-2" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-4" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-4" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/beach-one-fourth-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-3" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-5" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-5" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/beach-one-third-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-4" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-6" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-6" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/beach-three-fifth-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-5" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-7" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-7" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/beach-two-fifth-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-6" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-1" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <div class="carousel-dots">
                    <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                    <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                    <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                    <label for="img-4" class="carousel-dot" id="img-dot-4"></label>
                    <label for="img-5" class="carousel-dot" id="img-dot-5"></label>
                    <label for="img-6" class="carousel-dot" id="img-dot-6"></label>
                    <label for="img-7" class="carousel-dot" id="img-dot-7"></label>
                </div>
            </ul>
        </div>
    </div>

    <div class="car-text">
        <h3>
            Renting a Volkswagen California Beach is an excellent idea for families with three children! <br>
            This relaxed campervan allows comfortable travel for five. <br>
            The 3-seater bench at the back includes Isofix anchors for all child seats and can be folded out into a large bed. <br>
            As the vehicle does not have a kitchenette, the bed takes up the entire width of the vehicle, allowing parents to sleep three with a young child. <br>
            The manually operated pop-up roof accommodates 2 additional beds. <br>

            Renting a Volkswagen Beach - here are the advantages! <br>
            A mobile cooler with a capacity of 31 liters keeps drinks cool! <br>
            For those who love to cook their own meals while camping, there's a foldable side kitchenette. <br>
            All roadsurfer T6.1 California Beach models come straight from the factory for absolute safety and mobility. <br>
            Moreover, this 5-meter-long campervan, unlike a motorhome, for example, drives like a car while including everything you need! <br>
            The equipment of the VW T6.1 California leaves nothing to be desired!
        </h3>
    </div>
{% endblock %}
