{% extends 'layout.html.twig' %}

{% block content %}

    <div>
        <div class="carousel">
            <ul class="slides">
                <input type="radio" name="radio-buttons" id="img-1" checked />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/coast-one-first-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-7" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-2" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-2" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/coast-three-fifth-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-1" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-3" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-3" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/coast-one-third-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-2" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-4" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-4" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/coast-one-fifth-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-3" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-5" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-5" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/coast-three-second-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-4" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-6" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-6" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/coast-two-fifth-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-5" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-7" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <input type="radio" name="radio-buttons" id="img-7" />
                <li class="slide-container">
                    <div class="slide-image">
                        <img src="/assets/images/coast-two-first-photo.webp">
                    </div>
                    <div class="carousel-controls">
                        <label for="img-6" class="prev-slide">
                            <span>&lsaquo;</span>
                        </label>
                        <label for="img-1" class="next-slide">
                            <span>&rsaquo;</span>
                        </label>
                    </div>
                </li>
                <div class="carousel-dots">
                    <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                    <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                    <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                    <label for="img-4" class="carousel-dot" id="img-dot-4"></label>
                    <label for="img-5" class="carousel-dot" id="img-dot-5"></label>
                    <label for="img-6" class="carousel-dot" id="img-dot-6"></label>
                    <label for="img-7" class="carousel-dot" id="img-dot-7"></label>
                </div>
            </ul>
        </div>
    </div>

    <div class="car-text">
        <h3>
            The unique design of this campervan, refined over the years, makes this vehicle the ideal companion for a dream vacation! <br>
            With its sophisticated equipment and streamlined appearance, the Volkswagen T6.1 California Coast is much better than previous versions. <br>
            Cleverly integrated and concealed storage spaces, an electrohydraulic pop-up roof that opens at the touch of a button, portholes in the upper berth, blackout blinds on all windows, adjustable storage space in the trunk, a convertible rear bench into a bed, and many other advantages! <br><br>

            This model of converted van has everything it takes to become your home on the road! <br>
            And the icing on the cake: the upper floor in the roof has a slatted base. <br>
            A luxury hotel doesn't offer sweeter nights than in a VW California - promised! <br><br>
            And now? <br>
            Take advantage of our Volkswagen California rental service to rent a timeless converted van and go on an unforgettable road trip!
        </h3>
    </div>
{% endblock %}
