.ald-article-title  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.ald-article-title h1{
    font-size: 70px;
    color: #ec7305;
    margin-top: 150px;
}

.ald-article-cards h1   {
    font-size: 65px;
    text-align: center;
}

.ald-article-cards  {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ald-article-card1 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.ald-article-card2 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.ald-article-card3 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.ald-article-card4 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.ald-article-card1 p, .ald-article-card1 img  {
    margin: 10px;
}

.ald-article-card2 p, .ald-article-card2 img  {
    margin: 10px;
}

.ald-article-card3 p, .ald-article-card3 img  {
    margin: 10px;
}

.ald-article-card4 p, .ald-article-card4 img  {
    margin: 10px;
}
