.cardCarsHome {
    width:30%;
padding:40px 20px 20px;
    border-radius: 30px;
    border: solid #FFAA00 1px;
    box-shadow: 0 5px 15px rgba(236, 115, 5, 0.3) inset;
    -webkit-box-shadow: 0 5px 15px rgba(236, 115, 5, 0.3) inset;
    -moz-box-shadow: 0 5px 15px rgba(236, 115, 5, 0.3) inset; margin:20px 20px;
}
.cardCarsHome img {width:100%;}
.cardCarsHome .imgCars{width:80%; height:170px;overflow: hidden;margin:0 auto;border-radius: 30px}
.formReservation{padding: 50px;margin:50px auto; }
.cardCarsHome li {list-style: none;width:80%;margin:10px auto; }


