{% extends 'layout.html.twig' %}
{% block content %}
<div class="text">
<p>
   <h1> Conditions d'assurance de courte durée pour location de camping-car</h1>

    Pour vous garantir un maximum de sécurité, Van Aldiana  et Allianz ont développé un contrat sur-mesure adapté à la location entre particuliers.
    Ce contrat inclut une assurance tous risques de courte durée qui couvre les locataires
    et le véhicule pendant la période de location, avec une assistance 24h/24h.

    La location d'un camping-car sur Van Aldiana  inclut une assurance spécifique pour la location de camping-cars, vans et fourgons entre particuliers.

    Il s'agit d'une assurance de courte durée qui couvre les locataires et le camping-car loué pendant la période de location, avec une assistance 24h/24h.

    Ces dispositions ne s'appliquent que pour les locations assurées via l’assurance fournie par Van Aldiana  à l’exclusion des locations couvertes par l’assurance d’un loueur professionnel (dans ce cas l’ensemble des dispositions est à voir directement auprès du Propriétaire du véhicule).
    Conditions d'assurance location
    Les véhicules couverts par l'assurance :
    Véhicules de loisirs, van aménagés, camping-cars (VP, CTTE ou VASP), sous plaques françaises dont le PTAC est inférieur ou égal à 3,5 tonnes.
    Valeur à neuf inférieure à 100 000 €.
    Carte-grise établie en France au nom du propriétaire et non barrée.
    Contrôle technique en cours de validité.
    Enregistrés et validés par le site Van Aldiana .
    Les conducteurs couverts par l'assurance doivent répondre aux critères suivants :
    Être âgés d'au moins 23 ans.
    Être titulaires du permis de conduire de catégorie B en cours de validité et obtenu depuis 3 ans minimum.
    Avoir transmis à Van Aldiana  un scan du permis de conduire et d'une pièce d'identité de tous les conducteurs avant le début de la location (nombre de conducteurs limité à 2 par location sans surcoût). Les titulaires de permis étrangers doivent fournir un permis international ou un permis en alphabet latin.
    Avoir effectué un dépôt de garantie par empreinte bancaire ou chèque (non encaissé) du même nom que le règlement, à envoyer à Van Aldiana  avant le début de la location.
    Assistance
    Les locataires bénéficient d'une assistance complète disponible sur simple appel :
    Assistance 24h/24 et 7j/7.
    Le dépannage sur place ou la prise en charge des frais de remorquage jusqu'au garage qualifié le plus proche.
    La prise en charge d'une nuit d'hébergement dans l'attente des réparations ou le rapatriement jusqu'au domicile si le véhicule n'est pas réparable.
    50 € de frais de taxi de liaison.
    Assistance événements assurés
    Nature des garanties et/ou biens assurés
    Montant maximal de garantie (par sinistre sauf mention contraire)
    Franchise
    Assistance aux voyageurs
    Prestations "Voyageurs"
    Frais d'hébergement
    Retour au domicile ou poursuite du voyage
    Frais de taxi de liaison
    Dans la limite de 90 jours, dans le monde entier à l'exception des pays non couverts
    100 € TTC par nuit (maximum 1 nuit)
    Billet de train 2nde classe ou d'avion classe économique
    50 € TTC
    0 km
    Assistance au véhicule
    Prestations "Véhicules"
    Dépannage
    Remorquage
    Gardiennage et relivraison
    Récupération du véhicule garanti réparé
    Frais d'abandon du véhicule garanti
    Frais de gardiennage du véhicule garanti
    Les frais de déplacement du garagiste à l'exclusion de tout autre frais
    Frais réels
    Frais jusqu'au prochain jour ouvré
    Billet de train 2nde classe ou d'avion classe économique
    Frais liés à la procédure d'abandon
    Frais liés à la procédure d'abandon
    0 km

    La perte des clés est couverte par les garanties d'assurance.
    Si le camping-car est immobilisé, l'assistance prend en charge le déplacement aller du propriétaire (ou d'un autre conducteur) vers le lieu où le véhicule est immobilisé pour reprendre possession de son véhicule après réparation,

    Ces prestations sont soumises à la condition sine qua non que le dépannage du véhicule en panne soit effectué par le prestataire d'assistance dont les coordonnées sont mentionnées dans le contrat de location.
    L'assistance au véhicule n'inclue pas de véhicule de remplacement.
    Assurance tous risques : garanties et franchises
    La franchise d'assurance est la part qui reste à la charge du locataire en cas d'incident uniquement lorsque le conducteur est responsable ou lorsqu'il n'y a pas de tiers identifié. La franchise s'applique totalement ou partiellement, selon la part de responsabilité du conducteur. Une franchise s’applique par évènement. Plusieurs franchises sont applicables en cas de sinistres non concomitants.
    Le récapitulatif des garanties et des franchises :
    Garantie
    Limites
    Franchise par sinistres
    Avec option Confort ou Sérénité +
    Responsabilité Civile Circulation obligatoire
    Corporel : illimitée
    Matériel et immatériel : 100.000.000 €
    Sans franchise
    /
    Défense Recours
    Honoraires d'avocats et frais de Procedure selon Disponitions Générales Article 24
    Litige > 230 €
    /
    Vol et tentative de vol/ Détournement
    100.000€
    1 200 € (1)
    400€ (Le vol sans possibilité de rendre les clés ou par détournement reste à 1.200€
    Incendie/ Tempête/ Forces de la nature
    100.000€
    1 200 € (1)
    400 €
    Dommages tous accidents
    100.000€
    1 200 € (1)
    400 €
    Bris de glace
    Coût réel
    150 € Hors reparations
    50 €
    Accessoires et contenu privé
    3 000 €
    1 200 €
    /
    Catastrophe Naturelles
    100.000 €
    380 € (Franchise légale)
    /
    Dépannage / Remorquage / Levage / Gardiennage
    300 €
    La garantie intervient dans le cadre d'un sinistre couvert par le contrat
    Sans Franchise
    /
    Garantie du conducteur
    150 000 €
    Sans Franchise
    /
    Assistance du véhicule
    Frais de remorquage : Frais réel dans le garage le plus proche
    0 Kilomètre
    /

    (1) Vol/Tentative de vol/Incendie/Dommages tous accidents y compris accessoires et contenu privé à hauteur de 3000€
    Consulter les documents Garanties et conditions d'assurance et d'assistance.
    Garantie Dommages tous accidents : cette garantie est acquise uniquement dans le cas d’un accident avec un autre véhicule ou tout choc avec un corps fixe ou mobile différent du véhicule.
    Bris de glace : couvre les pare-brises, baies latérales, lunettes arrières, optiques de phares, lunettes de toit ouvrant dont les éléments en glace ou verre organique (matière plastique transparente qui se substitue au verre) sont brisés ou fissurés.
    Accessoires et contenu privé : dans le cadre d'un sinistre automobile couvert par l'une des garanties principales (Incendie, Vol, Dommages tous accidents), il est précisé que font également partie intégrante du véhicule assuré à concurrence de 3000 € les aménagements et équipements professionnels non prévus au catalogue du constructeur, les accessoires non prévus au catalogue du constructeur, les appareils audio et les objets et effets transportés. Seuls les accessoires loués en même temps que le véhicule et fixés à demeure à celui-ci sont garantis.
    Les conditions de garanties de l’option Contenu personnel du Locataire assuré en cas de vol sont détaillées dans nos CGV au paragraphe 17.b.
    Les principales exclusions de garanties :
    les dommages intérieurs, quelle qu’en soit l’origine ;
    les pneumatiques ;
    les erreurs de carburants;
    les pannes mécaniques;
    les dommages causés au véhicule assuré par les objets transportés (vélos, motos ...);
    les amendes ou dommages causés par la mise en fourrière du véhicule ;
    les dommages causés intentionnellement.
    Les pays couverts par l’assurance
    Les locataires peuvent circuler partout en France métropolitaine et dans les DOM,TOM et COM. En souscrivant à l'option "Voyage à l'étranger", les locataires peuvent voyager dans les pays suivants :
    Autriche, Albanie, Andorre, Azerbaïdjan, Belgique, Bulgarie, Bosnie et Herzégovine, Biélorussie, Suisse, Chypre, République Tchèque, Allemagne, Danemark, Espagne, Estonie, France, Finlande, Royaume Uni de Grande Bretagne et d'Irlande du Nord, Grèce, Hongrie, Croatie, Italie, Israël, République Islamique d'Iran, Irlande, Islande, Luxembourg, Lituanie, Lettonie, Malte, Maroc, Moldavie, Ex République Yougoslave de Macédoine, Monténégro, Norvège, Pays Bas, Portugal, Pologne, Roumanie, Russie, Suède, Serbie, République Slovaque, Slovénie, Tunisie, Turquie, Ukraine.
    Les garanties d'assurance et d'assistance restent les mêmes dans ces pays.

    </p>
</div>
{% endblock %}
