{% extends 'layout.html.twig' %}
{% block content %}
    <div class="text">
        <p>
            <h1>Mentions légales</h1>
            Conformément à la LOI n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique :

            Informations éditeur

            Editeur : Van Aldiana, société par actions simplifiée au capital social de 1.200.000 euros
            SIREN 493 505 887 (RCS de Bordeaux)
            TVA Intracommunautaire : FR774935XXXXX
            61-81 Avenue de la paix
            33000 Bordeaux
            05 56 XX XX XX
            bokas@gmail.com
            Directeur de la publication : Marcel Bokas

            Hébergement

            OVH
            2 rue Kellermann
            59100 Roubaix
            08 20 32 03 63

            Mentions CNIL

            Conformément à la loi du 6 janvier 1978, tout utilisateur dispose d'un droit d'accès, de rectification et de radiation aux informations le concernant. Sauf opposition de l'utilisateur, ces informations pourront être cédées, louées ou échangées.
            Ce droit s'exerce auprès de :  identifiant CNIL : 1212240

            Conditions d'utilisation

            Toute personne qui accède au site vanaldiana.com  (ci-après le "Site") s'engage à respecter les présentes conditions d'utilisation, qui pourront pour certains services être complétées par des conditions particulières. Les données diffusées sur le réseau internet et extranet peuvent être réglementées en termes d'usage ou être protégées par un droit de propriété.
            Toute personne est responsable des données qu'elle diffuse, utilise et/ou transfère et s'engage à ce titre à respecter la réglementation française en vigueur, notamment celle tw-relative aux contenus manifestement illicites (pédophilie, incitation à la haine raciale...) ou la protection des droits des tiers (droits de propriété intellectuelle....). L'éditeur n'est pas responsable de l'usage des données, du contenu diffusé ou des prestations d'une autre personne et qui, notamment, ne respecterait pas la réglementation en vigueur.
            Les données, comprenant leur contenu, les profils et les outils qui y sont rattachés, les documents téléchargeables, les représentations iconographiques et photographiques, et les marques commerciales présentes sur le Site, sont protégées par un droit de propriété intellectuelle. Toute reproduction ou représentation, même partielle des éléments susmentionnés, à d'autres fins qu'une utilisation privative, sur un quelconque support, est interdite et pourrait engager la responsabilité civile et pénale de la personne qui ne respecterait pas cette interdiction. Les caractéristiques et la disponibilité des produits et services mentionnés sur le Site sont valables pour la France métropolitaine.
            Nous vous invitons à prendre connaissance de nos conditions d'utilisation.

            Protection des données personnelles

            Nous vous invitons à prendre connaissance de notre politique de confidentialité qui présente les règles de protection des données personnelles dans le cadre de l'utilisation de notre plateforme.

            Utilisation du courrier électronique

            Si vous souhaitez utiliser le courrier électronique mis à votre disposition sur ce site, vous êtes informé(e) que le secret des correspondances transmises sur le réseau Internet n'est pas garanti.

            Copyright

            Toutes reproductions ou représentations, intégrales ou partielles, par quelque procédé que ce soit, toutes requêtes automatisées ou semi automatisées des données publiées sur ce site, faites sans l'autorisation de Vanaldiana.com  sont illicites et constituent une contrefaçon (Loi du 11 mars 1957 article 40/41 Code Pénal article 425).
            Le contenu du site est mis à jour et surveillé de manière constante.
            Par ailleurs, nous ne sommes ni responsables ni garants de l'exactitude et de l'exhaustivité des informations publiées. Cela s'applique également aux sites internet dont nous faisons référence sur le site, Vanaldiana.com  déclinant toute responsabilité quant à leurs contenus.


        </p>
    </div>
{% endblock %}
